<div class="col-xs-12 col-sm-12 col-lg-6 col-xs-offset-0 col-sm-offset-3 col-lg-offset-3 toppad">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title" style="text-align: center">{{userService.user.name}}</h3>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-md-4 col-lg-4 " align="center"><img alt="Obraz" [src]="userService.user.photo_url"
                                                            class="img-responsive"></div>
        <div class="col-md-8 col-lg-8">
          <table class="table table-user-information">
            <tbody>
            <tr>
              <td>Opis:</td>
              <td>{{userService.user.description}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div>
        <app-hosted-games [games]="gamesHosted"></app-hosted-games>
        <app-joined-games [games]="gamesJoined"></app-joined-games>
      </div>
    </div>
  </div>
</div>
