<div class="row">
</div>
<div class="row">
  <div class="col-xs-12">
    <agm-map [latitude]="this.lat" [longitude]="this.lng">
      <agm-marker [latitude]="this.lat" [longitude]="this.lng">
      </agm-marker>
    </agm-map>
    <h1>{{sportsService.sports[selectedGame.discipline.toLowerCase()]}}</h1>
    <h3>{{'Adres: ' + selectedGame.sportObject.address + ' ' + selectedGame.sportObject.city}}</h3>
    <h3>{{'Data: '}}{{selectedGame.date | date:'EEEE, dd-MM-yyyy hh:mm'}}</h3>
    <h4>{{'Aktualnie potrzeba jeszcze ' + selectedGame.needed + ' graczy'}}</h4>
    <h4>{{'Opłata za grę: ' + selectedGame.cost + ' zł'}}</h4>

    <input type="button" class="btn btn-lg btn-success" value="Zagram!" (click)="onButtonClicked()">

  </div>
</div>

