<div class="container" id="host">
  <div class="row">
    <div class="col-md-16">
      <div class="well login-box">
        <h1 style="text-align: center">Zbierz ekipę</h1>
        <div class="btn-group" style="alignment: center" data-toggle="buttons" id="chooseSport">
          <label>Wybierz sport:</label>
          <input type="radio" [(ngModel)]="chosenSport" name="sport-group" id="football" value="football">
          <label for="football"> Piłka nożna</label>
          <input type="radio" [(ngModel)]="chosenSport" name="sport-group" id="basketball" value="basketball">
          <label for="basketball"> Koszykówka</label>
          <input type="radio" [(ngModel)]="chosenSport" name="sport-group" id="volleyball" value="volleyball">
          <label for="volleyball"> Siatkówka</label>
          <input type="radio" [(ngModel)]="chosenSport" name="sport-group" id="others" value="others"
                 *ngIf="chosenSport !== 'others'">
          <label for="others" *ngIf="chosenSport !== 'others'"> inny</label>
          <input type="text" placeholder="nazwa sportu" *ngIf="chosenSport === 'others'">
        </div>
        <div class="col-md-offset-3">
          <div class="form-group">
            <label for="address">Adres</label>
            <input type="text" placeholder="np. Babińskiego 10" id="address" [(ngModel)]="address">
          </div>
          <div class="form-group">
            <label for="city">Miasto</label>
            <input type="text" placeholder="np. Kraków" id="city" [(ngModel)]="city">
          </div>
          <div class="form-group">
            <label for="players">Liczba graczy</label>
            <input type="text" placeholder="*" id="players" [(ngModel)]="players">
          </div>
          <div class="form-group">
            <label for="date">Data</label>
            <input type="date" placeholder="" id="date" [(ngModel)]="date">
          </div>
          <div class="form-group">
            <label for="fee">Opłata</label>
            <input type="text" placeholder="*" id="fee" [(ngModel)]="fee">
          </div>
          <div class="form-group">
            <label for="level">Poziom</label>
            <input type="text" placeholder="*" id="level" [(ngModel)]="level">
          </div>
          <div class="form-group">
            <label for="priority">Priorytety</label>
            <input type="checkbox" id="priority">
          </div>
          <input type="button" class="btn btn-lg btn-primary" style="alignment: center" value="Dodaj ogłoszenie"
                 (click)="onSubmitButton()">
        </div>
      </div>
    </div>
  </div>
</div>
