<div class="container" id="host">
  <div class="row">
    <div class="col-md-16">
      <div class="well login-box">
        <form [formGroup]="hostGameForm" (ngSubmit)="onSubmitButton()">
          <h1 style="text-align: center">Zbierz ekipę</h1>
          <div class="alert alert-danger" *ngIf="invalidForm || priorityDateAfterDate">
            <p>Błędne dane:</p>
            <ul>
              <li *ngIf="hostGameForm.get('chosenSport').invalid">sport nie został wybrany</li>
              <li *ngIf="hostGameForm.get('players').invalid">nieprawidłowa liczba graczy</li>
              <li *ngIf="hostGameForm.get('fee').invalid">nieprawidłowa opłata za grę</li>
              <li *ngIf="hostGameForm.get('players').invalid">określenie poziomu jest wymagane</li>
              <li *ngIf="hostGameForm.get('address').invalid || hostGameForm.get('city').invalid">błędny adres</li>
              <li *ngIf="priorityDateAfterDate">data wygaśnięcia priorytetu następuje po dacie gry</li>
            </ul>
          </div>
          <div class="alert alert-success" *ngIf="gameWasAdded">
            <p>Pomyślnie dodano grę</p> <!-- TODO redirect to game -->
          </div>
          <div class="btn-group" style="alignment: center" data-toggle="buttons" id="chooseSport">
            <label>Wybierz sport:</label>
            <input type="radio" formControlName="chosenSport" name="chosenSport"
                   id="football" value="football" (ngModelChange)="adjustPriorities()">
            <label for="football"> Piłka nożna</label>
            <input type="radio" formControlName="chosenSport" name="chosenSport"
                   id="basketball" value="basketball" (ngModelChange)="adjustPriorities()">
            <label for="basketball"> Koszykówka</label>
            <input type="radio" formControlName="chosenSport" name="chosenSport"
                   id="volleyball" value="volleyball" (ngModelChange)="adjustPriorities()">
            <label for="volleyball"> Siatkówka</label>
            <!-- TODO add other sports -->
          </div>


          <div class="col-md-offset-3">
            <div class="form-group">
              <label for="address">Adres</label>
              <input type="text" placeholder="np. Babińskiego 10" id="address"
                     formControlName="address">
            </div>
            <div class="form-group">
              <label for="city">Miasto</label>
              <input type="text" placeholder="np. Kraków" id="city"
                     formControlName="city">
            </div>
            <div class="form-group">
              <label for="players">Liczba graczy</label>
              <input type="text" placeholder="*" id="players"
                     formControlName="players">
            </div>
            <div class="form-group">
              <label for="date">Data</label>
              <input type="datetime-local" placeholder="" id="date"
                     formControlName="date">
            </div>
            <div class="form-group">
              <label for="fee">Opłata</label>
              <input type="text" placeholder="*" id="fee"
                     formControlName="fee">
            </div>
            <div class="form-group">
              <label for="level">Poziom</label>
              <input type="text" placeholder="*" id="level"
                     formControlName="level">
            </div>
            <div class="alert alert-danger" *ngIf="!sportIsChosen">
              <p>Wybierz sport</p>
            </div>

            <div class="form-group" *ngIf="!showPriorities">
              <button type="button" class="btn btn-default" (click)="onClickPriorities()">Dodaj priorytety</button>
            </div>
            <div *ngIf="showPriorities">
              <div class="form-group" *ngIf="showPriorities">
                <label>Data wygaśnięcia</label>
                <input type="datetime-local"
                       formControlName="priorityDate">
              </div>
              <div class="form-group" *ngFor="let role of Object.keys(roles[chosenSport.toUpperCase()])">
                <label [for]="roles[role]">{{capitalizeFirstLetter(role)}}</label>
                <input type="text" [(value)]="pitchRoles[roles[chosenSport.toUpperCase()][role]]">
              </div>
              <div>
                <button class="btn btn-default" (click)="showPriorities = false">Anuluj priorytety</button>
              </div>
            </div>
            <input type="submit" class="btn btn-lg btn-primary" style="alignment: center" value="Dodaj ogłoszenie">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
