<a
  class="list-group-item clearfix" [routerLink]="['/find', game['id']]">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ sportsService.sports[game.discipline.toLowerCase()] }}</h4>
    <p class="list-group-item-text">{{ game.sportObject.address + ' ' + game.sportObject.city}}</p>
    <p class="list-group-item-text">{{ 'Potrzeba ' + game.stillNeeded + ' graczy'}}</p>
  </div>
  <div class="pull-right">
    <button class="btn btn-danger" (click)="onCancelClicked()">Odwołaj</button>
  </div>
</a>

